.maxbox
    background #f2f3f4   
    height 100vh
    .tickettab
        background-color #fff
        .tabbox
            border-bottom 1px solid #f2f3f4
            display flex
            padding-left 0
            height 13.34vw
            line-height 13.34vw
            font-size 3.89vw
            text-align center
            margin-bottom 0
            .tab
                display inline-block
                flex 1
                list-style none
                text-align center
            .active
                font-weight 700
            .active::after
                margin-left auto
                margin-right auto
                height 3px
                width 11.5vw
                margin-top -3px
                background #ffc900
                content ""
                display block
    .showticket
        width 100%
        background-color #fff
        .noticebar
            width 100%
            display flex
            background-color #fff7d6
            font-size 12px
            padding 6px 12px
            line-height 18px
            color #e90
            .text
                flex 1
            .more
                width 
        // .ticketbox
        //     padding 0 15px
        //     vertical-align baseline
        .instructions
            padding: 10px 15px;
            text-align right
            .instruct_text
                display block
                font-size: 10px;
                height 10px
                color: #a5a5a5;
            .instruct_text::after
                content: ""
                background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABkUlEQ…RHzJl52sr0q7QUaL/fj0RkCKBXGYprABsiSjudzqLpb8s3VFXtM8RrSk4AAAAASUVORK5CYII=")
                background-repeat no-repeat
                background-position 50% 50%
                height: 12px
                width: 1px
                background-size: cover
                margin-left: 6px
                margin-top: -2px
        .buttonbox
            padding 0 15px 20px;
            .button
                width 100%
                height 42px
                button
                    width 100%
                    height 100%
                    border-radius 3px;
                    font-size 18px
                    overflow hidden
                    background #ff5000;
                    line-height 42px;
                    color #fff;
                    background-image linear-gradient(90deg,#ff9300,#f35);
                    border none
                    outline none
        .infotextbox
            overflow hidden
            font-size 12px;
            line-height 17px;
            padding-left 15px
            padding-right 15px
            padding-bottom 20px;
            color #a5a5a5;
            .left
                display inline-block
                .text
                    margin-right 21px
            .right
                display inline-block
        .discountbox
            background-color #f2f3f4
            overflow hidden
            .discount
                position relative
                margin 10px 0
                background #fff
                height 50px
                padding: 0 12px
                .lefttitle
                    height 100%
                    position absolute
                    top 0
                    .title
                        line-height 50px
                        padding-left 25px
                .rightconnect
                    width 100%
                    height 100%
                    text-align right
                    .my-carousel
                        .v-item
                            font-size: 12px;
                            height: 100%;
                            color: #999;
                            line-height 50px
                            .city
                                display inline-block
                            .like
                                display inline-block
                                margin-left: 9px;
                            .price
                                display inline-block
                                padding 0 2px
                                color #ff5000
                            .iconbox
                                display inline-block
                                height 24px
                                position relative
                                width 20px
        .logobox
            background-color #f2f3f4
            height 91px
            line-height 91px
            .logo
                height 50px
                width 100%
.instruct_info_box
    .tickettitle
        color: black
        text-align: left 
        box-sizing border-box   
        border-bottom: 1px solid #e0e0e0
        margin-bottom 12px
        .text
            margin-bottom:12px
            font-size: 16px;
            height: 26px;
            line-height: 26px;
            font-weight 600
    .babyticket
        color black
        .babytitle
            font-size: 13px;
            text-align: left;
            margin-bottom: 13px;
            font-weight 600
    .childticket
        color black
        .childtitle
            font-size: 13px;
            text-align: left;
            margin-bottom: 13px;
            font-weight 600
    .attention
        color black
        font-size: 13px;
        text-align: left;
        line-height: 1.5em;
        margin-bottom: 13px;
.am-modal-transparent
    width 86%
    max-height 384px
    .am-modal-content
        padding-top 25px
        .am-modal-body
            padding 0 25px 25px 25px