.search-head
    background-image linear-gradient(to right, rgb(255, 220, 0), rgb(255, 201, 0))
    background-color rgb(255, 255, 255)
    width 100vw
    height 11.74vw
    display flex
    .search-box
        display inline-block
        flex 1
        height 8.54vw
        margin-left 3.2vw
        border-radius 4.27vw 0px 4.27vw 4.27vw
        overflow hidden
        background-color rgb(255, 247, 212)
        margin-top auto
        margin-bottom auto
        position relative
        .icon
            width  4vw
            height  4vw
            position  absolute
            top  2.14vw
            left  3.2vw
        .input
            color  rgb(51, 51, 51)
            padding  .8vw 1.87vw 1.07vw 8.8vw
            font-size  3.74vw
            line-height  normal
            height  8.54vw
            display  flex
            outline  none
            border none
            background-color transparent
            width  100%
    .btn-box
        display inline-block
        width 46.08px
        height 11.74vw
        line-height 11.74vw
        text-align center
        .btn
            font-size 4vw
            color rgb(51, 51, 51)
.searchfind
    padding 0px 3.2vw
    .title-box
        height 10.94vw
        line-height 10.94vw
        padding-top .8vw
        text-align left
        margin-bottom: -3.2vw;
        .title
            font-size 4vw
            font-weight bold
            color rgb(51, 51, 51)
            max-width 80vw
            text-overflow ellipsis
            vertical-align middle
    .searchline
        max-height 24vw
        padding .8vw 0px
        .icon
            display inline-block
            vertical-align top
            img
                display inline-block
                width 4.27vw
                height 4.27vw
                margin-top 4.54vw
                margin-right 2.4vw
        .connect
            display inline-block
            width 86.67vw
            .itembox
                display inline-block
                padding 2.54vw 3.07vw
                background-color rgb(247, 247, 247)
                border-radius .8vw
                margin-top 2.4vw
                margin-right 2.4vw
                .text
                    font-size 3.47vw
                    height 3.47vw
                    line-height 3.47vw
                    color rgb(51, 51, 51)
                    text-overflow ellipsis