.ticketbox
        padding 0 15px
        vertical-align: baseline
        .addressline
            height: 13.89vw
            font-size: 5vw
            display flex
            vertical-align: middle
            .comeaddress,.toaddress 
                display inline-block
                flex 1
                height 100%
                line-height 13.89vw
                margin-top auto
                margin-bottom auto
                border-bottom 1px solid #e0e0e0
                transition: 1s liner
            .changeimg
                display inline-block
                width 54px
                line-height 50px
                text-align center
                vertical-align: middle
                .pic
                    width 27px
                    height 27px
            .toaddress 
                text-align: right 
        .dateline
            .line
                height: 53px;
                line-height 53px
                font-size: 18px;
                display flex
                border-bottom 1px solid #eee
                .goto
                    flex: 1
                    display inline-block
                    .date
                        display inline-block
                        font-weight 500
                    .week
                        display inline-block
                        font-size: 12px;
                        color: #ccc;
                        margin-left: 5px;
                .comeback
                    flex: 1
                    display inline-block
                    position relative
                    text-align right
                    z-index 100
                    .infobox
                        z-index: 10
                        .date
                            display inline-block
                            font-weight 500
                        .week
                            display inline-block
                            font-size: 12px;
                            color: #ccc;
                            margin-left: 5px;
        .bringchild
            border-bottom 1px solid #e0e0e0
            display flex
            height: 50px;
            line-height: 50px;
            .item
                line-height 50px
                .check-inner
                    .choosebox
                        display inline-block
                        width 22px
                        height: 22px;
                        border-radius: 3px
                        line-height: 22px;
                        margin-right: 6px;
                        vertical-align: middle
                        border: 1px solid #e0e0e0
                        text-align center
                        .img
                            margin-bottom 0
                            line-height 16px
                            vertical-align: baseline 
                    .active
                        border: 1px solid #e90
                    .text
                        display inline-block
                        vertical-align: middle
                    .prompt
                        display inline-block
                        vertical-align: middle
                        font-size: 12px;
                        margin-left: 6px;
                        color: #ccc;
            .space
                flex 1