.maxbox
    height 100vh
    padding 0
    margin 0
    .head-box
        background-image: linear-gradient(-90deg,#ffc900,#ffd800);
        color: #3d3d3d;
        width 100%
        font-size: 12px;
        text-align: center;
        height: 46px;
        line-height 46px
        display flex
        .head
            flex: 1
            overflow hidden
            margin-top auto
            margin-bottom auto
            align-items: center;
            height 34px
            display flex
            .lastDay-box
                flex 1
            .nextDay-box
                flex: 1
            .today-box
                overflow hidden
                min-width: 126px;
                height 34px
                line-height 34px
                border-radius: 2px;
                .today
                    background: #fff;
                    color: #3d3d3d;
                    font-size: 12px;
                    padding 5px
                    height 100%
                    line-height 34px
                    .left_info
                        display inline-block
                        overflow hidden
                        width 140px
                        .date
                            height 12px
                            font-weight 700
                    .right_icon
                        display inline-block
                        height auto
                        width 34px
                        font-size 20px
                        padding-top 2px
        .minprice
            display block
            height 12px
            line-height 12px
            margin-top: 5px;
            font-weight: 700;
            font-size: 13px;
            font-weight 400
        .text
            display block
            height 12px
            line-height 12px
            font-weight 400

                    