html
    font-size 36px
    background #fff
.signbox
    height 100vh
    background #fff
    .logo
        width: 2.13333333rem;
        height: 2.13333333rem;
        margin: 1.25333333rem auto 0;
        img
            width: 2.13333333rem;
            height: 2.13333333rem;
            background-repeat:  no-repeat;
            background-size: contain;
    .formbox
        width: 8.77333333rem;
        margin: 0 auto;
        font-size: .42666667rem;
        color: #333;
        .input 
            margin: 1.2rem 0 0;
            border-bottom: 1px solid #ff5000;
            input
                font-size: inherit;
                width: 7.73333333rem;
                height: .48rem;
                line-height .48rem
                margin: 0 0 .17333333rem .12rem;
                outline: none;
                border: 0;
                color: #333;
                background transparent
                font-weight 400
        .field
            font-size: .37333333rem;
            width: 8.77333333rem;
            margin: .69333333rem auto 0;
            display flex
            .smssign
                display inline-block
            .registered
                display inline-block
                flex: 1
                text-align right
                margin-right: .10666667rem;
            span 
                color: #555
        .btnbox
            margin-top: .94666667rem;
            font-size: .37333333rem;
            width: 8.77333333rem;
            margin: .69333333rem auto 0;
            .btn
                font-size: .42666667rem;
                width: 100%;
                height: 1.2rem;
                line-height: 1.2rem;
                border-radius: .6rem;
                text-align: center;
                border: 0;
                background: -webkit-linear-gradient(left,#ff9000,#ff5000) no-repeat;
                color: #fff;
                box-shadow: 0 0.08rem 0.16rem #f7c7b1;
                width 100%